5_6_10/flows.json
[
    {
        "id": "8b787c908732702a",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "6d1d4a6695765d3e",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "6af7b4d13b2246a3",
        "type": "ui_group",
        "name": "TEST",
        "tab": "6d1d4a6695765d3e",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false,
        "className": ""
    },
    {
        "id": "61000862ad79a6e0",
        "type": "ui_button",
        "z": "8b787c908732702a",
        "name": "",
        "group": "6af7b4d13b2246a3",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "{{msg.payload.l}}",
        "tooltip": "",
        "color": "{{msg.payload.c}}",
        "bgcolor": "{{msg.payload.b}}",
        "className": "",
        "icon": "announcement",
        "payload": "",
        "payloadType": "str",
        "topic": "topic",
        "topicType": "msg",
        "x": 350,
        "y": 180,
        "wires": [
            []
        ]
    },
    {
        "id": "0d86a1a53772168c",
        "type": "inject",
        "z": "8b787c908732702a",
        "name": "on",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"l\":\"ON\",\"c\":\"red\",\"b\":\"yellow\"}",
        "payloadType": "json",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "61000862ad79a6e0"
            ]
        ]
    },
    {
        "id": "a8d9e701b4569097",
        "type": "inject",
        "z": "8b787c908732702a",
        "name": "off",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"l\":\"OFF\",\"c\":\"grey\",\"b\":\"black\"}",
        "payloadType": "json",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "61000862ad79a6e0"
            ]
        ]
    }
]