5_2_1_mqtt/flows.json
[
    {
        "id": "576f42a2d4bd07f0",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "129593e0.7e203c",
        "type": "mqtt-broker",
        "name": "",
        "broker": "broker.mqtt-dashboard.com",
        "port": "1883",
        "clientid": "k2385kkervd",
        "autoConnect": true,
        "usetls": false,
        "protocolVersion": "4",
        "keepalive": "60",
        "cleansession": true,
        "autoUnsubscribe": true,
        "birthTopic": "",
        "birthQos": "0",
        "birthPayload": "",
        "birthMsg": {},
        "closeTopic": "",
        "closeQos": "0",
        "closePayload": "",
        "closeMsg": {},
        "willTopic": "",
        "willQos": "0",
        "willPayload": "",
        "willMsg": {},
        "userProps": "",
        "sessionExpiry": ""
    },
    {
        "id": "1722d6c0.c5b989",
        "type": "ui_group",
        "name": "Group 1",
        "tab": "76e51cdf.b93f44",
        "order": 1,
        "disp": true,
        "width": 6
    },
    {
        "id": "76e51cdf.b93f44",
        "type": "ui_tab",
        "name": "Tab 1",
        "icon": "dashboard",
        "order": 1
    },
    {
        "id": "4c65861e.6f36f8",
        "type": "mqtt out",
        "z": "576f42a2d4bd07f0",
        "name": "",
        "topic": "outTopic_zxcvb12345678",
        "qos": "",
        "retain": "",
        "respTopic": "",
        "contentType": "",
        "userProps": "",
        "correl": "",
        "expiry": "",
        "broker": "129593e0.7e203c",
        "x": 450,
        "y": 260,
        "wires": []
    },
    {
        "id": "aabaac3.7de315",
        "type": "inject",
        "z": "576f42a2d4bd07f0",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "통신 테스트중입니다",
        "payloadType": "str",
        "x": 205,
        "y": 258,
        "wires": [
            [
                "4c65861e.6f36f8"
            ]
        ]
    },
    {
        "id": "bc9b174a.2f4d98",
        "type": "mqtt in",
        "z": "576f42a2d4bd07f0",
        "name": "",
        "topic": "outTopic_zxcvb12345678",
        "qos": "2",
        "datatype": "auto-detect",
        "broker": "129593e0.7e203c",
        "nl": false,
        "rap": false,
        "inputs": 0,
        "x": 217,
        "y": 344,
        "wires": [
            [
                "a69998e2.295808",
                "2082ce77.81c472"
            ]
        ]
    },
    {
        "id": "a69998e2.295808",
        "type": "debug",
        "z": "576f42a2d4bd07f0",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "x": 415,
        "y": 340,
        "wires": []
    },
    {
        "id": "2082ce77.81c472",
        "type": "ui_text",
        "z": "576f42a2d4bd07f0",
        "group": "1722d6c0.c5b989",
        "order": 1,
        "width": 0,
        "height": 0,
        "name": "",
        "label": "text",
        "format": "{{msg.payload}}",
        "layout": "row-spread",
        "x": 420,
        "y": 404,
        "wires": []
    },
    {
        "id": "64adf6be.635b48",
        "type": "ui_text_input",
        "z": "576f42a2d4bd07f0",
        "name": "",
        "label": "",
        "tooltip": "",
        "group": "1722d6c0.c5b989",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "x": 161,
        "y": 209,
        "wires": [
            [
                "4c65861e.6f36f8"
            ]
        ]
    }
]