5_8_1/flows.json
[
    {
        "id": "3d1cdbb860ecfcfc",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "29732ca1.aa10a4",
        "type": "ui_group",
        "name": "T1",
        "tab": "edc12181.f76fe",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "edc12181.f76fe",
        "type": "ui_tab",
        "name": "LAB",
        "icon": "dashboard"
    },
    {
        "id": "345213d0.ec0a1c",
        "type": "ui_slider",
        "z": "3d1cdbb860ecfcfc",
        "name": "",
        "label": "slider",
        "tooltip": "",
        "group": "29732ca1.aa10a4",
        "order": 0,
        "width": 0,
        "height": 0,
        "passthru": true,
        "outs": "all",
        "topic": "",
        "min": 0,
        "max": "2",
        "step": 1,
        "x": 70,
        "y": 180,
        "wires": [
            [
                "c08fe2d0.3c74e"
            ]
        ]
    },
    {
        "id": "c08fe2d0.3c74e",
        "type": "function",
        "z": "3d1cdbb860ecfcfc",
        "name": "",
        "func": "var newMsg={};\nif(msg.payload==0) \n    newMsg.payload=\"{\\\"gpio38\\\":1,\\\"gpio40\\\":0}\";\nelse if(msg.payload==1) \n    newMsg.payload=\"{\\\"gpio38\\\":0,\\\"gpio40\\\":0}\";\nelse if(msg.payload==2) \n    newMsg.payload=\"{\\\"gpio38\\\":0,\\\"gpio40\\\":1}\";\nreturn newMsg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 200,
        "y": 180,
        "wires": [
            [
                "b6e3f39e.b6137",
                "0e55de6ba96f7481"
            ]
        ]
    },
    {
        "id": "8335b385.3d012",
        "type": "ui_led",
        "z": "3d1cdbb860ecfcfc",
        "order": 1,
        "group": "29732ca1.aa10a4",
        "width": 0,
        "height": 0,
        "label": "gpio38",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "gpio38",
        "x": 630,
        "y": 160,
        "wires": []
    },
    {
        "id": "873a67bc.f266e8",
        "type": "ui_led",
        "z": "3d1cdbb860ecfcfc",
        "order": 1,
        "group": "29732ca1.aa10a4",
        "width": 0,
        "height": 0,
        "label": "gpio40",
        "labelPlacement": "left",
        "labelAlignment": "left",
        "colorForValue": [
            {
                "color": "#808080",
                "value": "0",
                "valueType": "num"
            },
            {
                "color": "#ff0000",
                "value": "1",
                "valueType": "num"
            }
        ],
        "allowColorForValueInMessage": false,
        "shape": "circle",
        "showGlow": true,
        "name": "gpio40",
        "x": 630,
        "y": 240,
        "wires": []
    },
    {
        "id": "b6e3f39e.b6137",
        "type": "json",
        "z": "3d1cdbb860ecfcfc",
        "name": "",
        "property": "payload",
        "action": "",
        "pretty": false,
        "x": 330,
        "y": 180,
        "wires": [
            [
                "e7d36678.1c2518"
            ]
        ]
    },
    {
        "id": "e7d36678.1c2518",
        "type": "function",
        "z": "3d1cdbb860ecfcfc",
        "name": "",
        "func": "var out=[];\nout.push({payload:msg.payload.gpio38});\nout.push({payload:msg.payload.gpio40});\nreturn [out[0],out[1]];",
        "outputs": 2,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 180,
        "wires": [
            [
                "8335b385.3d012"
            ],
            [
                "873a67bc.f266e8"
            ]
        ]
    },
    {
        "id": "608c2615.560bd8",
        "type": "comment",
        "z": "3d1cdbb860ecfcfc",
        "name": "작동설명",
        "info": "스위치를 on에 놓으면 gpio38이 켜지고 gpio40이 꺼지고  off에 놓으면 gpio40이 켜지고  gpio38은 꺼집니다. 가운데를 놓으면 gpio38과 gpio40은 모두 꺼집니다.",
        "x": 80,
        "y": 240,
        "wires": []
    },
    {
        "id": "0e55de6ba96f7481",
        "type": "debug",
        "z": "3d1cdbb860ecfcfc",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 400,
        "y": 280,
        "wires": []
    },
    {
        "id": "e7aa3092c47fa79e",
        "type": "comment",
        "z": "3d1cdbb860ecfcfc",
        "name": "스위치로 개별 구성해보자",
        "info": "",
        "x": 370,
        "y": 400,
        "wires": []
    }
]