5_6_15/flows.json
[
    {
        "id": "fb90f357884c09ee",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "692d2f99b85a5129",
        "type": "comment",
        "z": "fb90f357884c09ee",
        "name": "이해못했음",
        "info": "node red mongodb trigger time schedule",
        "x": 300,
        "y": 120,
        "wires": []
    },
    {
        "id": "fa319cd3ddea106c",
        "type": "inject",
        "z": "fb90f357884c09ee",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 310,
        "y": 160,
        "wires": [
            [
                "0b032a33350a9510"
            ]
        ]
    },
    {
        "id": "0b032a33350a9510",
        "type": "delay",
        "z": "fb90f357884c09ee",
        "name": "",
        "pauseType": "rate",
        "timeout": "5",
        "timeoutUnits": "seconds",
        "rate": "10",
        "nbRateUnits": "5",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 520,
        "y": 160,
        "wires": [
            [
                "f02474350b63d028"
            ]
        ]
    },
    {
        "id": "f02474350b63d028",
        "type": "function",
        "z": "fb90f357884c09ee",
        "name": "Format timestamp",
        "func": "// Create a Date object from the payload\nvar date = new Date(msg.payload);\n// Change the payload to be a formatted Date string\nmsg.payload = date.toString();\n// Return the message so it can be sent on\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 740,
        "y": 160,
        "wires": [
            [
                "27405f7e33fec6b7"
            ]
        ]
    },
    {
        "id": "27405f7e33fec6b7",
        "type": "debug",
        "z": "fb90f357884c09ee",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 940,
        "y": 160,
        "wires": []
    },
    {
        "id": "6600580f0aeb1e8e",
        "type": "trigger",
        "z": "fb90f357884c09ee",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "5",
        "extend": false,
        "overrideDelay": false,
        "units": "s",
        "reset": "test",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 460,
        "y": 360,
        "wires": [
            [
                "b60cfeb5573d1c75"
            ]
        ]
    },
    {
        "id": "b60cfeb5573d1c75",
        "type": "debug",
        "z": "fb90f357884c09ee",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 630,
        "y": 360,
        "wires": []
    },
    {
        "id": "045f2f75a6706a8b",
        "type": "inject",
        "z": "fb90f357884c09ee",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 360,
        "wires": [
            [
                "6600580f0aeb1e8e"
            ]
        ]
    },
    {
        "id": "40959ac9af5765ca",
        "type": "inject",
        "z": "fb90f357884c09ee",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "test",
        "payloadType": "str",
        "x": 300,
        "y": 400,
        "wires": [
            [
                "6600580f0aeb1e8e"
            ]
        ]
    },
    {
        "id": "4a2ad8440707ad26",
        "type": "trigger",
        "z": "fb90f357884c09ee",
        "name": "",
        "op1": "1",
        "op2": "0",
        "op1type": "str",
        "op2type": "str",
        "duration": "10",
        "extend": false,
        "overrideDelay": true,
        "units": "s",
        "reset": "",
        "bytopic": "all",
        "topic": "topic",
        "outputs": 1,
        "x": 650,
        "y": 500,
        "wires": [
            [
                "3a17722d988a96eb"
            ]
        ]
    },
    {
        "id": "4cf28a50102e4183",
        "type": "inject",
        "z": "fb90f357884c09ee",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 320,
        "y": 500,
        "wires": [
            [
                "c0bba25c1e18f078"
            ]
        ]
    },
    {
        "id": "3a17722d988a96eb",
        "type": "debug",
        "z": "fb90f357884c09ee",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 790,
        "y": 500,
        "wires": []
    },
    {
        "id": "d06febb701c2c5c7",
        "type": "inject",
        "z": "fb90f357884c09ee",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            },
            {
                "p": "delay",
                "v": "5000",
                "vt": "num"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payloadType": "date",
        "x": 320,
        "y": 560,
        "wires": [
            [
                "4a2ad8440707ad26"
            ]
        ]
    },
    {
        "id": "c0bba25c1e18f078",
        "type": "function",
        "z": "fb90f357884c09ee",
        "name": "",
        "func": "msg.delay=5000;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 480,
        "y": 500,
        "wires": [
            [
                "4a2ad8440707ad26"
            ]
        ]
    },
    {
        "id": "611ae255aa10ac4d",
        "type": "inject",
        "z": "fb90f357884c09ee",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 310,
        "y": 260,
        "wires": [
            [
                "8b15f81c2474e4e6"
            ]
        ]
    },
    {
        "id": "8b15f81c2474e4e6",
        "type": "function",
        "z": "fb90f357884c09ee",
        "name": "",
        "func": "msg.delay=3000;\nreturn msg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 540,
        "y": 260,
        "wires": [
            [
                "9dc03b8f988535d1"
            ]
        ]
    },
    {
        "id": "786fddfb86b1d05f",
        "type": "debug",
        "z": "fb90f357884c09ee",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 950,
        "y": 260,
        "wires": []
    },
    {
        "id": "56328a6fa22f6645",
        "type": "comment",
        "z": "fb90f357884c09ee",
        "name": "트리거 리셋",
        "info": "",
        "x": 300,
        "y": 320,
        "wires": []
    },
    {
        "id": "697cf6244abedb2d",
        "type": "comment",
        "z": "fb90f357884c09ee",
        "name": "트리거 타임 설정",
        "info": "",
        "x": 300,
        "y": 460,
        "wires": []
    },
    {
        "id": "951d73d36ca0f76c",
        "type": "comment",
        "z": "fb90f357884c09ee",
        "name": "Delay 타임 함수에서 설정",
        "info": "",
        "x": 330,
        "y": 220,
        "wires": []
    },
    {
        "id": "9dc03b8f988535d1",
        "type": "delay",
        "z": "fb90f357884c09ee",
        "name": "",
        "pauseType": "delayv",
        "timeout": "1",
        "timeoutUnits": "seconds",
        "rate": "1",
        "nbRateUnits": "1",
        "rateUnits": "second",
        "randomFirst": "1",
        "randomLast": "5",
        "randomUnits": "seconds",
        "drop": false,
        "allowrate": false,
        "outputs": 1,
        "x": 740,
        "y": 260,
        "wires": [
            [
                "786fddfb86b1d05f"
            ]
        ]
    }
]