5_6_16/flows.json
[
    {
        "id": "f6e359be5cf0e551",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "fc3041ec.c63f3",
        "type": "inject",
        "z": "f6e359be5cf0e551",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "index",
                "v": "high_1",
                "vt": "str"
            },
            {
                "p": "id",
                "v": "high_1",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "10",
        "payloadType": "num",
        "x": 150,
        "y": 140,
        "wires": [
            [
                "6928ac67.618e64"
            ]
        ]
    },
    {
        "id": "eb1f8b0.c8f7f78",
        "type": "inject",
        "z": "f6e359be5cf0e551",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "index",
                "v": "high_2",
                "vt": "str"
            },
            {
                "p": "id",
                "v": "high_2",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "20",
        "payloadType": "num",
        "x": 150,
        "y": 180,
        "wires": [
            [
                "6928ac67.618e64"
            ]
        ]
    },
    {
        "id": "d17c5c48.29bc2",
        "type": "inject",
        "z": "f6e359be5cf0e551",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "index",
                "v": "high_3",
                "vt": "str"
            },
            {
                "p": "id",
                "v": "high_3",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "30",
        "payloadType": "num",
        "x": 150,
        "y": 220,
        "wires": [
            [
                "6928ac67.618e64"
            ]
        ]
    },
    {
        "id": "8b3186aa.6d6998",
        "type": "inject",
        "z": "f6e359be5cf0e551",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "index",
                "v": "high_4",
                "vt": "str"
            },
            {
                "p": "id",
                "v": "high_4",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "40",
        "payloadType": "num",
        "x": 150,
        "y": 260,
        "wires": [
            [
                "6928ac67.618e64"
            ]
        ]
    },
    {
        "id": "6928ac67.618e64",
        "type": "join",
        "z": "f6e359be5cf0e551",
        "name": "phase_1",
        "mode": "custom",
        "build": "object",
        "property": "payload",
        "propertyType": "msg",
        "key": "index",
        "joiner": "\\n",
        "joinerType": "str",
        "accumulate": false,
        "timeout": "",
        "count": "4",
        "reduceRight": false,
        "reduceExp": "",
        "reduceInit": "",
        "reduceInitType": "num",
        "reduceFixup": "",
        "x": 380,
        "y": 180,
        "wires": [
            [
                "65983bcfc28c241f"
            ]
        ]
    },
    {
        "id": "65983bcfc28c241f",
        "type": "change",
        "z": "f6e359be5cf0e551",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "payload",
                "pt": "msg",
                "to": "$each($$.payload, function($v,$k){\t{$k:$v}\t})^(<*)",
                "tot": "jsonata"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 560,
        "y": 180,
        "wires": [
            [
                "287b235e0123b2d7"
            ]
        ]
    },
    {
        "id": "287b235e0123b2d7",
        "type": "debug",
        "z": "f6e359be5cf0e551",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "true",
        "targetType": "full",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 180,
        "wires": []
    },
    {
        "id": "4ed0478c0c4ceab8",
        "type": "inject",
        "z": "f6e359be5cf0e551",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"high_2\":20,\"high_1\":10,\"high_3\":30,\"high_4\":40}",
        "payloadType": "json",
        "x": 170,
        "y": 380,
        "wires": [
            [
                "65983bcfc28c241f"
            ]
        ]
    },
    {
        "id": "5ba1464bfcf56af5",
        "type": "inject",
        "z": "f6e359be5cf0e551",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"a1\":\"adc\",\"a2\":\"hye\",\"a3\":\"crt\",\"a4\":\"abc\"}",
        "payloadType": "json",
        "x": 170,
        "y": 420,
        "wires": [
            [
                "65983bcfc28c241f"
            ]
        ]
    },
    {
        "id": "7656e50cfa566965",
        "type": "inject",
        "z": "f6e359be5cf0e551",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "{\"a1\":\"1-3\",\"a2\":\"1-1-2\",\"a3\":\"1-1\",\"a4\":\"1-2\"}",
        "payloadType": "json",
        "x": 170,
        "y": 460,
        "wires": [
            [
                "65983bcfc28c241f"
            ]
        ]
    },
    {
        "id": "31959d46f8f71b25",
        "type": "sort",
        "z": "f6e359be5cf0e551",
        "name": "",
        "order": "descending",
        "as_num": true,
        "target": "payload",
        "targetType": "msg",
        "msgKey": "payload",
        "msgKeyType": "elem",
        "seqKey": "payload",
        "seqKeyType": "msg",
        "x": 430,
        "y": 560,
        "wires": [
            [
                "5661ce76451ca8dc"
            ]
        ]
    },
    {
        "id": "21c37b100cf25f63",
        "type": "template",
        "z": "f6e359be5cf0e551",
        "name": "",
        "field": "payload",
        "fieldType": "msg",
        "format": "json",
        "syntax": "mustache",
        "template": "[\"100\",\"50\",\"200\",\"80\"]",
        "output": "json",
        "x": 280,
        "y": 560,
        "wires": [
            [
                "31959d46f8f71b25"
            ]
        ]
    },
    {
        "id": "5661ce76451ca8dc",
        "type": "debug",
        "z": "f6e359be5cf0e551",
        "name": "debug 1",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "false",
        "statusVal": "",
        "statusType": "auto",
        "x": 580,
        "y": 560,
        "wires": []
    },
    {
        "id": "95a5eee919343eda",
        "type": "inject",
        "z": "f6e359be5cf0e551",
        "name": "",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 120,
        "y": 560,
        "wires": [
            [
                "21c37b100cf25f63"
            ]
        ]
    }
]