sqlite/flows.json
[
    {
        "id": "6cd941e999eb45d9",
        "type": "tab",
        "label": "플로우 1",
        "disabled": false,
        "info": "",
        "env": []
    },
    {
        "id": "484cfb96.440c84",
        "type": "sqlitedb",
        "db": "D:\\sqlite.db",
        "mode": "RWC"
    },
    {
        "id": "86dde2f.4bee42",
        "type": "ui_group",
        "name": "SQLite",
        "tab": "7ebd9053.a603b",
        "order": 2,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "83164ce4.849ba",
        "type": "ui_group",
        "name": "주소록",
        "tab": "8c669732.db53c8",
        "order": 1,
        "disp": true,
        "width": "6",
        "collapse": false
    },
    {
        "id": "7ebd9053.a603b",
        "type": "ui_tab",
        "name": "List",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "8c669732.db53c8",
        "type": "ui_tab",
        "name": "Contact List",
        "icon": "dashboard",
        "disabled": false,
        "hidden": false
    },
    {
        "id": "a8eea4f7ba2144fd",
        "type": "ui_base",
        "theme": {
            "name": "theme-light",
            "lightTheme": {
                "default": "#0094CE",
                "baseColor": "#0094CE",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": true,
                "reset": false
            },
            "darkTheme": {
                "default": "#097479",
                "baseColor": "#097479",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif",
                "edited": false
            },
            "customTheme": {
                "name": "Untitled Theme 1",
                "default": "#4B7930",
                "baseColor": "#4B7930",
                "baseFont": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
            },
            "themeState": {
                "base-color": {
                    "default": "#0094CE",
                    "value": "#0094CE",
                    "edited": false
                },
                "page-titlebar-backgroundColor": {
                    "value": "#0094CE",
                    "edited": false
                },
                "page-backgroundColor": {
                    "value": "#fafafa",
                    "edited": false
                },
                "page-sidebar-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-textColor": {
                    "value": "#1bbfff",
                    "edited": false
                },
                "group-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "group-backgroundColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "widget-textColor": {
                    "value": "#111111",
                    "edited": false
                },
                "widget-backgroundColor": {
                    "value": "#0094ce",
                    "edited": false
                },
                "widget-borderColor": {
                    "value": "#ffffff",
                    "edited": false
                },
                "base-font": {
                    "value": "-apple-system,BlinkMacSystemFont,Segoe UI,Roboto,Oxygen-Sans,Ubuntu,Cantarell,Helvetica Neue,sans-serif"
                }
            },
            "angularTheme": {
                "primary": "indigo",
                "accents": "blue",
                "warn": "red",
                "background": "grey",
                "palette": "light"
            }
        },
        "site": {
            "name": "Node-RED Dashboard",
            "hideToolbar": "false",
            "allowSwipe": "false",
            "lockMenu": "false",
            "allowTempTheme": "true",
            "dateFormat": "DD/MM/YYYY",
            "sizes": {
                "sx": 48,
                "sy": 48,
                "gx": 6,
                "gy": 6,
                "cx": 6,
                "cy": 6,
                "px": 0,
                "py": 0
            }
        }
    },
    {
        "id": "5c1a8e7f.ef8e9",
        "type": "comment",
        "z": "6cd941e999eb45d9",
        "name": "8.12 SQLite를 활용한 주소록 만들기(2) - Dashboad UI를 통한 조회",
        "info": "",
        "x": 260,
        "y": 400,
        "wires": []
    },
    {
        "id": "1d736def.0935f2",
        "type": "inject",
        "z": "6cd941e999eb45d9",
        "name": "조회 ( Select )",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "select * from contact",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 440,
        "wires": [
            [
                "4548a608.fd81a8"
            ]
        ]
    },
    {
        "id": "4548a608.fd81a8",
        "type": "sqlite",
        "z": "6cd941e999eb45d9",
        "mydb": "484cfb96.440c84",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 330,
        "y": 440,
        "wires": [
            [
                "595e7803.71e158"
            ]
        ]
    },
    {
        "id": "595e7803.71e158",
        "type": "ui_template",
        "z": "6cd941e999eb45d9",
        "group": "86dde2f.4bee42",
        "name": "list",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<table style=\"width:100%\">\n  <tr>\n    <th>이름</th> \n    <th>전화번호</th>\n    <th>나이</th> \n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td>{{msg.payload[$index].name}}</td>\n    <td>{{msg.payload[$index].phone}}</td> \n    <td>{{msg.payload[$index].age}}</td>\n  </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 510,
        "y": 440,
        "wires": [
            []
        ]
    },
    {
        "id": "7f119e4c.da443",
        "type": "inject",
        "z": "6cd941e999eb45d9",
        "name": "Database 생성",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "create table contact(  name text primary key not null,  phone text,  age int );",
        "payload": "",
        "payloadType": "date",
        "x": 140,
        "y": 120,
        "wires": [
            [
                "53b81c5a.4202f4"
            ]
        ]
    },
    {
        "id": "53b81c5a.4202f4",
        "type": "sqlite",
        "z": "6cd941e999eb45d9",
        "mydb": "484cfb96.440c84",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 530,
        "y": 180,
        "wires": [
            [
                "cf60b5c7.c2e268"
            ]
        ]
    },
    {
        "id": "cf60b5c7.c2e268",
        "type": "debug",
        "z": "6cd941e999eb45d9",
        "name": "",
        "active": true,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 730,
        "y": 180,
        "wires": []
    },
    {
        "id": "190dbd0c.91a7d3",
        "type": "inject",
        "z": "6cd941e999eb45d9",
        "name": "등록( Insert )",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 180,
        "wires": [
            [
                "cdc01037.8d278"
            ]
        ]
    },
    {
        "id": "cdc01037.8d278",
        "type": "function",
        "z": "6cd941e999eb45d9",
        "name": "",
        "func": "var randomNum = Math.round(Math.random()*100);\n\nvar newMsg = {\n \"topic\": \"INSERT INTO contact VALUES ( '테스트\" + randomNum + \"', '000-0000-0000', \" + randomNum + \")\"\n}\nreturn newMsg;",
        "outputs": 1,
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "x": 280,
        "y": 180,
        "wires": [
            [
                "53b81c5a.4202f4"
            ]
        ]
    },
    {
        "id": "cfbef637.16a3b8",
        "type": "inject",
        "z": "6cd941e999eb45d9",
        "name": "조회 ( Select )",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "select * from contact",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 240,
        "wires": [
            [
                "53b81c5a.4202f4"
            ]
        ]
    },
    {
        "id": "99db818.bd2078",
        "type": "inject",
        "z": "6cd941e999eb45d9",
        "name": "삭제 ( Delete )",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "delete from contact ",
        "payload": "",
        "payloadType": "date",
        "x": 130,
        "y": 300,
        "wires": [
            [
                "53b81c5a.4202f4"
            ]
        ]
    },
    {
        "id": "a6a378c1.5a0868",
        "type": "comment",
        "z": "6cd941e999eb45d9",
        "name": "8.12 SQLite를 활용한 주소록 만들기(1)",
        "info": "create table contact(\n\tname text primary key not null,\n\tphone text,\n\tage int\n)\n\ncreate table contact(  name text primary key not null,  phone text,  age int );\n\n",
        "x": 170,
        "y": 80,
        "wires": []
    },
    {
        "id": "391e20fa.32827",
        "type": "inject",
        "z": "6cd941e999eb45d9",
        "name": "조회 ( Select )",
        "props": [
            {
                "p": "payload"
            },
            {
                "p": "topic",
                "vt": "str"
            }
        ],
        "repeat": "",
        "crontab": "",
        "once": false,
        "onceDelay": 0.1,
        "topic": "select * from contact",
        "payload": "",
        "payloadType": "date",
        "x": 610,
        "y": 800,
        "wires": [
            [
                "3b5f97c3.5781a8"
            ]
        ]
    },
    {
        "id": "3b5f97c3.5781a8",
        "type": "sqlite",
        "z": "6cd941e999eb45d9",
        "mydb": "484cfb96.440c84",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 810,
        "y": 800,
        "wires": [
            [
                "bfe9a17b.90453",
                "8941ea81f29e47a2"
            ]
        ]
    },
    {
        "id": "bfe9a17b.90453",
        "type": "ui_template",
        "z": "6cd941e999eb45d9",
        "group": "83164ce4.849ba",
        "name": "contact list",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<table style=\"width:100%\">\n  <tr>\n    <th>이름</th> \n    <th>전화번호</th>\n    <th>나이</th> \n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td>{{msg.payload[$index].name}}</td>\n    <td>{{msg.payload[$index].phone}}</td> \n    <td>{{msg.payload[$index].age}}</td>\n  </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 990,
        "y": 800,
        "wires": [
            []
        ]
    },
    {
        "id": "b1d8546b.2a68e8",
        "type": "ui_text_input",
        "z": "6cd941e999eb45d9",
        "name": "",
        "label": "이름",
        "tooltip": "",
        "group": "83164ce4.849ba",
        "order": 1,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "text",
        "delay": 300,
        "topic": "",
        "sendOnBlur": true,
        "className": "",
        "topicType": "str",
        "x": 90,
        "y": 600,
        "wires": [
            [
                "f1969488.012ef8"
            ]
        ]
    },
    {
        "id": "1ecd0622.db1afa",
        "type": "ui_text_input",
        "z": "6cd941e999eb45d9",
        "name": "",
        "label": "전화번호",
        "tooltip": "",
        "group": "83164ce4.849ba",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "tel",
        "delay": 300,
        "topic": "",
        "x": 80,
        "y": 660,
        "wires": [
            [
                "2656a9b2.520396"
            ]
        ]
    },
    {
        "id": "bd13c024.5078",
        "type": "ui_button",
        "z": "6cd941e999eb45d9",
        "name": "",
        "group": "83164ce4.849ba",
        "order": 3,
        "width": 0,
        "height": 0,
        "passthru": false,
        "label": "등록",
        "tooltip": "",
        "color": "",
        "bgcolor": "",
        "className": "",
        "icon": "",
        "payload": "",
        "payloadType": "str",
        "topic": "",
        "topicType": "str",
        "x": 450,
        "y": 660,
        "wires": [
            [
                "fdc087d4.d97c58"
            ]
        ]
    },
    {
        "id": "f7c6f5a.3674c08",
        "type": "ui_text_input",
        "z": "6cd941e999eb45d9",
        "name": "",
        "label": "나이",
        "tooltip": "",
        "group": "83164ce4.849ba",
        "order": 2,
        "width": 0,
        "height": 0,
        "passthru": true,
        "mode": "number",
        "delay": 300,
        "topic": "",
        "x": 90,
        "y": 720,
        "wires": [
            [
                "31fdbbcd.49dc64"
            ]
        ]
    },
    {
        "id": "f1969488.012ef8",
        "type": "change",
        "z": "6cd941e999eb45d9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "name",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 600,
        "wires": [
            [
                "bd13c024.5078"
            ]
        ]
    },
    {
        "id": "2656a9b2.520396",
        "type": "change",
        "z": "6cd941e999eb45d9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "phone",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 260,
        "y": 660,
        "wires": [
            [
                "bd13c024.5078"
            ]
        ]
    },
    {
        "id": "31fdbbcd.49dc64",
        "type": "change",
        "z": "6cd941e999eb45d9",
        "name": "",
        "rules": [
            {
                "t": "set",
                "p": "age",
                "pt": "flow",
                "to": "payload",
                "tot": "msg"
            }
        ],
        "action": "",
        "property": "",
        "from": "",
        "to": "",
        "reg": false,
        "x": 250,
        "y": 720,
        "wires": [
            [
                "bd13c024.5078"
            ]
        ]
    },
    {
        "id": "fdc087d4.d97c58",
        "type": "function",
        "z": "6cd941e999eb45d9",
        "name": "",
        "func": "var newMsg = {\n \"topic\": \"INSERT INTO contact VALUES ( '\" + flow.get(\"name\") + \"', '\"+flow.get(\"phone\")+\"', \" + flow.get(\"age\") + \")\"\n}\nreturn newMsg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 620,
        "y": 660,
        "wires": [
            [
                "3247f7fd.c31388"
            ]
        ]
    },
    {
        "id": "3247f7fd.c31388",
        "type": "sqlite",
        "z": "6cd941e999eb45d9",
        "mydb": "484cfb96.440c84",
        "sqlquery": "msg.topic",
        "sql": "",
        "name": "",
        "x": 790,
        "y": 660,
        "wires": [
            [
                "7e08a363.a1605c",
                "736ed67e.cfdad8"
            ]
        ]
    },
    {
        "id": "7e08a363.a1605c",
        "type": "debug",
        "z": "6cd941e999eb45d9",
        "name": "",
        "active": false,
        "tosidebar": true,
        "console": false,
        "tostatus": false,
        "complete": "payload",
        "targetType": "msg",
        "statusVal": "",
        "statusType": "auto",
        "x": 1030,
        "y": 600,
        "wires": []
    },
    {
        "id": "736ed67e.cfdad8",
        "type": "function",
        "z": "6cd941e999eb45d9",
        "name": "전체 조회( Select )",
        "func": "var newMsg = {\n \"topic\": \"select * from contact\"\n}\nreturn newMsg;",
        "outputs": 1,
        "timeout": "",
        "noerr": 0,
        "initialize": "",
        "finalize": "",
        "libs": [],
        "x": 1010,
        "y": 660,
        "wires": [
            [
                "3b5f97c3.5781a8"
            ]
        ]
    },
    {
        "id": "cace558f.857e18",
        "type": "comment",
        "z": "6cd941e999eb45d9",
        "name": "8.12 SQLite를 활용한 주소록 만들기(3) - SQLite를 활용한 주소록",
        "info": "",
        "x": 250,
        "y": 540,
        "wires": []
    },
    {
        "id": "636f53b6.3ba9ec",
        "type": "comment",
        "z": "6cd941e999eb45d9",
        "name": "Dashboad UI를 통한 조회(동일 부분)",
        "info": "",
        "x": 600,
        "y": 740,
        "wires": []
    },
    {
        "id": "8941ea81f29e47a2",
        "type": "ui_template",
        "z": "6cd941e999eb45d9",
        "group": "86dde2f.4bee42",
        "name": "list",
        "order": 0,
        "width": 0,
        "height": 0,
        "format": "<table style=\"width:100%\">\n  <tr>\n    <th>이름</th> \n    <th>전화번호</th>\n    <th>나이</th> \n  </tr>\n  <tr ng-repeat=\"x in msg.payload\">\n    <td>{{msg.payload[$index].name}}</td>\n    <td>{{msg.payload[$index].phone}}</td> \n    <td>{{msg.payload[$index].age}}</td>\n  </tr>\n</table>",
        "storeOutMessages": true,
        "fwdInMessages": true,
        "resendOnRefresh": true,
        "templateScope": "local",
        "className": "",
        "x": 970,
        "y": 860,
        "wires": [
            []
        ]
    }
]